
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.formulario {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    justify-content: center;
    justify-items: center;
    box-shadow: 0 0 10px black;
    
}


button {
    background-color: green;
}